[2018-07-24 13:19] brendan-ward opened #1 "CLI: allow style.json to be input via stdin"
In order to best leverage this from within docker, we need to be able to pipe the file to the container over stdin.

Ref:
https://github.com/tj/commander.js/issues/137
https://gist.github.com/ElijahLynn/72cb111c7caf32a73d6f

[2018-07-25 03:15] brendan-ward opened #2 "Resolve mapbox:// URLs"
Ideally, we should be able to support Mapbox named styles

[2018-07-25 05:13] brendan-ward commented on #1
Decided against doing this for now

[2018-07-25 05:13] #1 closed

[2018-07-26 09:11] brendan-ward opened #3 "Add rollup and modularize code better"
https://rollupjs.org/guide/en

[2018-07-26 09:21] brendan-ward opened #4 "Add attribution option if mapbox sources are detected"
Could be similar to Mapbox static API handling of attribution:
https://www.mapbox.com/api-documentation/#retrieve-a-static-map-from-a-style

[2018-07-26 09:22] brendan-ward opened #5 "Consider adding overlay support to API"
Could be similar to the Mapbox static API: https://www.mapbox.com/api-documentation/#retrieve-a-static-map-from-a-style

[2018-07-26 13:19] brendan-ward commented on #5
This can be done directly through the style: https://www.mapbox.com/mapbox-gl-js/style-spec#sources-geojson

So we just need to add an example to demonstrate it.

[2018-07-26 17:40] brendan-ward commented on #2
Resolved by #6

[2018-07-26 17:40] #2 closed

[2018-07-26 21:13] brendan-ward opened #7 "Create Dockerfile"
Example of a very similar build: https://github.com/klokantech/tileserver-gl/blob/master/Dockerfile

[2018-08-01 10:48] brendan-ward opened #8 "Add deployment notes for headless servers"
This may be obviated by having a Docker file, if that is clear enough to folks.  However, it might be a good idea to include notes on making sure that Xvfb is up and running on a headless server before starting up this application.

[2018-08-04 04:44] jdbohrman commented on #7
I would love to help with this!

[2018-08-07 11:30] brendan-ward commented on #7
@jdbohrman some help would be greatly appreciated!

I started some initial work on this front in the `add-docker` branch: https://github.com/consbio/mbgl-renderer/blob/add-docker/docker/Dockerfile

But have not had a chance to see this all the way through.  Part of the problem was the long builds due to `apt-get` installs, which are not fun on slower internet connections.

One of the gotchas to wa

[2018-08-08 04:13] jdbohrman commented on #7
@brendan-ward What made you guys go with an Ubuntu base image as opposed to Node?

[2018-08-08 04:28] brendan-ward commented on #7
@jdbohrman no particular reason other than wanting to try out the new minimal Ubuntu image.  Our other project used the Node base image, so that would probably be a better starting point - I just hadn't tried that yet.

[2018-08-08 04:31] jdbohrman commented on #7
@brendan-ward Awesome! Yeah I agree that would likely be better. What were the issues you were having with Xvfb?

[2018-08-08 10:28] brendan-ward commented on #7
@jdbohrman No issues with Xvfb, it just needs to be up and running in order to render anything, or you will get errors.  The `entrypoint.sh` has a working setup for using it from another project, I just didn't have a chance yet to fully integrate and test it here.  May not require much modification at this point.

[2018-08-09 03:59] jdbohrman commented on #7
@brendan-ward I had an interesting solution suggested to me about your long build times with apt-get. You could download the binaries for the packages you're installing and call something like `COPY somepackage.deb somepacke.deb` and then `RUN dpkg -i somepackage.deb`.

[2018-08-09 05:01] jdbohrman commented on #7
Another idea is using multi-stage builds

[2018-08-09 05:02] jdbohrman commented on #7
https://docs.docker.com/develop/develop-images/multistage-build/#use-multi-stage-builds

[2018-08-09 11:56] brendan-ward commented on #7
@jdbohrman thanks for looking into the alternatives!

I'm concerned about the labor involved in the first solution you suggest: I think there are a lot of dependencies that we'd have to manage that way, and the filenames all have their version in them, so a potential maintenance issue...  Interesting idea though, might work well for projects where there are just a few.

I'm not sure that multi-sta

[2018-08-20 00:57] roblabs commented on #7
I've got some progress on the docker, but I've ran into some issues.  I'm mostly interested in the feature `mbgl-render`, and I wanted to publish my progress to date.

I'm currently serving `mbtiles` using `tileserver-gl` and then pulling PNGs out of the browser.  See http://www.roblabs.com/print-maps

Figuring out how to build `mapbox-gl-native` with Docker was worth a day of trials.  So, what I

[2018-09-12 22:58] brendan-ward opened #9 "Update geoVieport to 0.4.0 and enable use of allowFloat option"
Verify that this works properly for raster sources

[2018-10-29 22:17] ka7eh opened #10 "Cannot import `mbgl-renderer` installed from `npmjs`"
`main` entry in `package.json` (https://github.com/consbio/mbgl-renderer/blob/master/package.json#L5) is pointing to a non-existing file. Changing it to `dist/index.js`  fixes the issues.

[2018-11-11 01:15] abraztsov opened #12 "Render.js not go into request function"
Function `request` in `render.js` file not executed. I use `mbgl-renderer` as server.

What could be the problem?

Nove version: v6.11.5

[code]

[2018-11-11 01:34] abraztsov opened #13 "How to increase DPI ?"
Now exported images has very low quality. Any idea how to increase dpi ?

[2018-11-11 16:56] #12 closed

[2018-11-12 13:00] abraztsov opened #14 "Rendered image bigger than mapbox map"
It's seems like rendered map displaying more than mapbox map.

Rendered map
<img width="406" src="https://user-images.githubusercontent.com/19175580/48348857-9178e380-e693-11e8-8790-55a157b8917c.png">

Mapbox map
<img width="406" src="https://user-images.githubusercontent.com/19175580/48348888-ae151b80-e693-11e8-9b27-0e732c1e05cd.png">

Test data to render

[code]

[2018-11-12 16:40] brendan-ward commented on #14
@abraztsov how are you creating the mapbox map?  The [Mapbox Static API Playground](https://www.mapbox.com/help/static-api-playground/) doesn't accept the parameters you have here.

Is the problem with the image dimensions not matching your input width and height, the image dimensions not matching what you get from mapbox, or the area of the world contained within the map being different?

[2018-11-12 17:07] #14 closed

[2018-11-12 17:08] brendan-ward commented on #14
@abraztsov I discovered the issue - we were originally treating zoom level as an integer instead of floating point value.  That is now fixed and my local results now match your mapbox image.

[2018-11-12 17:17] brendan-ward commented on #13
What image tile sources are you using in your style?

By default, pixels should render pixel-for-pixel in the underlying tiles.  If you resize the image afterward, it will degrade the quality.

If you use a floating point zoom level for an image tile source, it will effectively overzoom the tiles when you are between zoom levels, which may also look less than adequate.

If you use a zoom level bey

[2018-11-12 18:57] abraztsov commented on #13
I'm using mapbox styles (via `mapbox://...`)

[2018-11-12 19:02] abraztsov commented on #13
Overall it's looking like this one `dist/cli.js mapbox://styles/foo/bar test.png ...`

I know there's a trick how to render mapbox map in high resoultion on client. Maybe somehow it's possible to render in high res on server using mapbox style?

[code]

[2018-11-20 15:06] beyoung opened #15 "npm install error"
I clone this project, and run
[code]
It appears:
node-pre-gyp ERR! stack Error: 403 status code downloading tarball https://mapbox-node-binary.s3.amazonaws.com/@mapbox/mapbox-gl-native/v4.0.0-pre.13/node-v51-linux-x64-Release.tar.gz

[2018-11-20 15:31] beyoung commented on #15
After read mapbox-native-gl issues [Npm install failing with 403 error](https://github.com/mapbox/mapbox-gl-native/issues/12667), I found solution to fix it.

[2018-11-20 15:31] #15 closed

[2018-12-24 10:45] aliir74 opened #16 "Failed to `npm test`"
Hi.
I installed this package after clone it from github. But my `npm test` command didn't work:
[code]

[2019-01-06 14:31] normanrz commented on #10
This is not an issue for me.

[2019-01-06 15:47] #7 closed

[2019-01-06 15:48] #13 closed

[2019-01-06 15:50] brendan-ward commented on #16
Resolved by #19

[2019-01-06 15:50] #16 closed

[2019-01-06 18:52] brendan-ward commented on #10
This has been fixed

[2019-01-06 18:52] #10 closed

[2019-01-06 20:18] normanrz opened #21 "Feature list in readme"
I think the Readme should have a bullet point feature list. I always like this when evaluating open-source projects, because it is easier to glance over than read the full-text.

My suggestion:
- Render static maps with [mapbox-gl-native](https://github.com/mapbox/mapbox-gl-native)
- CLI tool or (dockerized) service
- Supports raster and vector tiles
- Use locally hosted mbtiles
- Add custom GeoJS

[2019-01-06 20:21] normanrz commented on #5
I agree that this doesn't need a separate API. There is an example in the tests now: https://github.com/consbio/mbgl-renderer/blob/master/tests/fixtures/example-style.json

I think only a section in the Readme is missing.

[2019-01-10 08:33] aliir74 commented on #13
I'm using 100000 for ratio option but my images are low quality:
image version:
![image](https://cdn.pbrd.co/images/HVLTq7i.png)

render version:
![render](https://cdn.pbrd.co/images/HVLT2nn.png)

[2019-01-10 11:01] aliir74 commented on #13
This problem was sth related to mapbox-gl-js raster tile showing not mbgl-render, Thanks.

[2019-01-20 12:30] aliir74 opened #22 "Maximum number of ratio that supported?"
Hi. What is the maximum number of ratio that supported? I want to set this blurriness in retinal displays

[2019-01-20 20:57] brendan-ward commented on #22
@aliir74 I don't see that this is documented in the Mapbox GL documentation, though it looks like in practice this is usually between 1 and 3.  For retina displays, I thought the appropriate ratio is 2.

This will likely require manual testing to see how it fits your needs.  If you test this, please report back, and we can add notes about it here.

[2019-01-21 17:24] aliir74 opened #23 "mbgl-render didn't use local mbtiles"
I use raster png files as mbtiles but my picture is empty
[code]

[2019-01-21 17:33] brendan-ward commented on #23
@aliir74 can you share your `style_raster_test.json` so that we can see how you are referring to your local mbtiles file(s) from there?

[2019-01-26 03:50] brendan-ward commented on #23
@aliir74 very sorry for the delayed response.  Your `source` needs to point to a URL (not a `file://`).

To use local mbtiles from your tiles directory, see this example:
https://github.com/consbio/mbgl-renderer/blob/master/tests/fixtures/example-style-mbtiles-source.json

using the `mbtiles://` syntax to create direction your mbtiles file.

Alternatively, you can point it at tiles instead, per th

[2019-01-26 09:15] aliir74 commented on #23
Hi @brendan-ward, Thanks for your reply.

I used below command:
[code]
with this style file:
[code]
But error happened:
[code]

My tiles are in this address: `/home/ali/disk2/tiles/raster/{z}/{x}/{y}.png`

[2019-01-26 17:07] brendan-ward commented on #23
@aliir74 are your tiles stored as individual PNG files on disk, or are they stored within an `mbtiles` file?   If the former, we don't support the use case, you would need to put a tile server in front of your tiles rather than fetching straight from disk.

In theory, someone could develop and add the functionality to use tiles directly from disk in the way you are trying to do here, but that is n

[2019-01-27 08:10] aliir74 commented on #23
@brendan-ward Thanks.

I convert my directory to an mbtiles file with `mb-util` but this error happened:
[code]
This is my style file:
[code]
and `high-mb.mbtiles` is an file in `/home/ali/disk2/tiles`.
I also try with an independent mbtiles to prevent probable `mb-util` bug but same error happened.

[2019-01-27 09:00] aliir74 opened #24 "Import error"
Hi all.
I try to use mbgl-renderer with node API but I couldn't import this module. I try node version of 4, 6 and 10 but none of them didn't work correctly in the importing line.

__node v10.15.0:__
[code]

__node v4.9.1:__
[code]

__node v6.16.0:__
[code]

I use your code example

[2019-01-27 17:33] brendan-ward commented on #23
@aliir74 would you mind testing with the example from the readme, to verify that `mbgl-renderer` is working properly except for your `mbtiles` files?

`mbgl-render tests/fixtures/example-style-mbtiles-source-vector.json test.png 1024 1024 -z 0 -c 0,0 -t tests/fixtures`

From the above errors, it looks like it is unable to properly retrieve tiles from the `mbtiles` file.  We did not test with any t

[2019-01-27 17:47] brendan-ward commented on #24
@aliir74 we only targeted the latest LTS versions of node: 8, 10 - so I wouldn't expect <8 to work.

All our examples assume use of `babel` to support things like the `import` statement.  Apologies for not making that more clear in the documentation.  I'll add a bit more information now.

[2019-01-27 17:47] #24 closed

[2019-01-29 10:31] aliir74 commented on #24
@brendan-ward I cloned your git project and `yarn install` in node v10 LTS. but the same error happened:
[code]

[2019-01-29 16:33] brendan-ward commented on #24
@aliir74 You need to use `babel` in order to use ES6 `import` commands from the example in our README.

To replicate your example, install `babel-node`: https://babeljs.io/docs/en/babel-node

then on your command line `babel-node node-simple.js`

[2019-02-05 16:05] aliir74 commented on #23
Hi dear @brendan-ward, Sorry for my delay.

This is a sample of my mbtiles [https://ufile.io/7tm5x]()
I also buy a mbtiles from [https://openmaptiles.com]() and same error happened.

[2019-02-05 18:22] aliir74 commented on #23
Seems this issue is relevant to mb-util problem. and also openmaptiles site have raster tiles that didn't support in your project, right?

[2019-02-06 07:31] aliir74 commented on #23
Hi again @brendan-ward. I created correct mbtiles but the same error heppend. I uploaded my mbtiles for your test, [high_update tiles](https://ufile.io/5km6e) and [low_update tiles](https://ufile.io/twxnn).
The error:
[code]
My style file:
[code]

Thanks for your work on my problem. This is very important to me and my team to render map from local tiles for faster speed of render.

[2019-02-06 11:08] aliir74 commented on #23
I changed my style address to below and the code worked. Thanks for your support!
[code]

[2019-02-06 11:08] #23 closed

[2019-02-11 23:56] brendan-ward opened #25 "Styles with transparency are not rendered properly"
The issue has to do with the output from Mapbox GL having pre-multipled alpha values, whereas `sharp` expects un-premultipled values.  The effect is that colors with transparency are much darker and less saturated than expected.

https://github.com/mapbox/mapbox-gl-native/issues/9124

The fix is to un-premultiply the pixel values prior to exporting to PNG format.

[2019-02-12 00:18] #25 closed

[2019-02-13 00:49] brendan-ward commented on #22
Resolved via comment in README: 30514e992b7c70952ed2bc140a51ef4dc12a0b76

[2019-02-13 00:49] #22 closed

[2019-02-13 14:02] brendan-ward commented on #9
Resolved via 30514e992b7c70952ed2bc140a51ef4dc12a0b76

[2019-02-13 14:02] #9 closed

[2019-02-13 14:08] #21 closed

[2019-02-13 14:11] #8 closed

[2019-03-20 20:30] charandas opened #26 "Run-time styling options before calling render"
I would love to be able to do `map.setPaintProperty` before this library calls `map.render` to give me the `png` output.

The motivation would be that runtime styling in GL JS actually returns proper errors like:

[code]

Whereas if my `style.json` has an incorrect color like that, it just fails silently to apply the expression to say `fill-color`.

Also, run-time styling would be nice for the cal

[2019-04-10 10:17] benpetsch opened #27 "mbgl-renderer + docker + nodejs api"
I'm facing an issues using mbgl-renderer within docker.
Currently I have a working nodejs project which renders images via mbgl-renderer.
After dockerization multiple errors jump in the way.

Is it possible to use mbgl-renderer within docker via the nodejs api?

Can you point me to a working example? (Existing docs mentioning http api only)

Thanks in advance.

[2019-04-10 17:12] brendan-ward commented on #27
Hi @benpetsch - sorry for the issues!

Our primary use of this in docker is `mbgl-server`, not the CLI, so I don't as yet have examples in the docs.  But it would be great to add some!

Can you please give us a little more information to help trace this down.

When you are using this in Docker, are you using our Docker image or are you creating your own?  Note: we ran into issues with the version

[2019-04-11 03:09] brendan-ward commented on #26
@charandas this is an interesting idea.  Definitely makes me wish we got better errors for invalid styles than we do now.

I'm open to your idea of using a `preRender` function - but I don't have the time at the moment to implement that.  Open to PRs, if you want to rough out something along these lines.

[2019-04-11 03:18] brendan-ward commented on #27
@benpetsch - in case it is helpful, you need to be running `Xvfb` in your container to be able to import the nodejs API from `mbgl-renderer` into your own code.  See the setup / teardown for `Xvfb` in [here](https://github.com/consbio/mbgl-renderer/blob/master/docker/entrypoint.sh).

[2019-04-30 16:23] brendan-ward commented on #27
@benpetsch any update on this issue?  Were you able to get things resolved by using `Xvfb`?

[2019-05-09 15:21] klongmitre commented on #15
@beyoung - I'm hitting the same wall. What was your solution for this?

[2019-05-09 15:30] brendan-ward commented on #15
@klongmitre note that we do not recommend Node 10 yet, per this in the README:

What version of Node are you trying to use?

[2019-07-15 17:37] bob-gray opened #28 "Unexpected y tile values in request from Docker image"
I'm trying out the docker image using `docker run --rm -p 8080:80 consbio/mbgl-renderer`

When sending a request using values from a map that is successfully rendered using Mapbox GL JS in the browser, the service fails when making requests for tiles. It requests tiles outside the range of my tileset. The y values are different than the values requested by the browser and seem to be calculated inc

[2019-07-15 17:55] brendan-ward commented on #28
@bob-gray Can you please tell us more about the map service you are using for this example (if possible, include link to it).

Some map services vary in the origin point of their y-values (bottom or top), which could cause us to be requesting different y values than are displayed in your browser.

Also - what `scheme` ([more info](https://docs.mapbox.com/mapbox-gl-js/style-spec/#sources-vector-sch

[2019-07-15 19:31] bob-gray commented on #28
The service is a simple proof of concept. I created it by wrapping an .mbtiles db created by [Tilemaker](https://github.com/systemed/tilemaker) in a simple Node.js service using [@mapbox/mbtiles](https://www.npmjs.com/package/@mapbox/mbtiles).

https://dev-www.iceasb.org/services/tiles/osm/data

I'm not specifying the scheme in the browser, so it looks like it would be using the default "xyz"

[2019-07-15 20:26] bob-gray commented on #28
I've done a little research into [xyz vs tms](https://gist.github.com/tmcw/4954720). It looks like this is the issue and it appears that the tile services is tms.

`(2 ^ 14) - 10298 - 1 =‬ 6086`.

I tried to set the scheme in the browser and got an error that you can't set the scheme and use a URL for the style. I'm thinking that the browser is reading the scheme from the service (tms) and working

[2019-07-15 20:32] brendan-ward commented on #28
@bob-gray using a simple style file, I was unable to reproduce this issue with either the CLI or the server version of `mbgl-renderer`:

`test.json`:
[code]

When I have it log out the tiles it is requesting, they match what I see requested in the browser (from basemap tiles) for the same location, e.g.,
https://dev-www.iceasb.org/services/tiles/osm/data/14/3942/6086
which matches your correct ran

[2019-07-15 20:36] brendan-ward commented on #28
@bob-gray when I set scheme to "tms" in the above `test.json` file, the requests fail, and have the same tile ranges you report above.

If I set it to `xyz` (the default) or leave it blank, it works fine.

Your service is `xyz`.

Is it possible you have the scheme set to `tms` in your style file used for `mbgl-renderer`?  That is my best guess at this point.

[2019-07-15 20:38] brendan-ward commented on #27
Closing due to lack of activity...

[2019-07-15 20:38] #27 closed

[2019-07-15 21:05] bob-gray commented on #28
I'm using the same style file for both https://dev-www.iceasb.org/bob/maps/tests/osm-liberty.json.

The response from https://dev-www.iceasb.org/services/tiles/osm/data says the scheme for the tileset is tms. This is what is stored in the .mbtiles db that was created by Tilemaker

[2019-07-15 21:18] brendan-ward commented on #28
@bob-gray I wonder if the tileset itself is created as TMS (suggested by [this thread](https://github.com/systemed/tilemaker/issues/8)), but that `@mapbox/mbtiles` is presenting it with XYZ scheme instead of TMS?

That is suggested [here](https://github.com/mapbox/node-mbtiles/blob/0ecc36fc477d73a8f9d607f2b21ce1401ca6c04f/lib/mbtiles.js#L158), where the Y coordinate is being flipped as part of get

[2019-07-15 21:42] bob-gray commented on #28
@brendan-ward Yep. That did it. Thanks for the help! It's strange that Mapbox GL JS ignores the scheme. I don't understand how the mbtiles file works. If the data is created as TMS, I wonder why `@mapbox/mbtiles #getTile` works with the xyz scheme?

Any recommendation whether generating tiles (`Tilemaker`) and serving them this way (`@mapbox/mbtiles`) would be a good approach or not? Any suggestio

[2019-07-15 22:19] brendan-ward commented on #28
@bob-gray 🎉

`@mapbox/mbtiles` directly decodes xyz incoming requests to TMS scheme before querying the underlying tiles.

Recommendations depend a lot on what you are trying to accomplish (DM me at bcward@astutespruce.com).

I don't have any experience using `Tilemaker` or `@mapbox/mbtiles`. We use a different server (built using Golang) for serving mbtiles - [`mbtileserver`](https://github.com/c

[2019-07-15 22:19] #28 closed

[2019-08-21 20:32] brendan-ward opened #30 "Convert tests to use async / await for less callback nesting"

[2019-08-21 22:43] #30 closed

[2019-10-07 19:32] nikmolnar opened #32 "The CLI seems to be broken by a new version of `babel`"
Attempting to use the CLI results in the following error:

[code]

After some research, the problem is likely related to meteor/meteor#10128.

[2019-10-09 21:18] jnicho02 opened #33 "trying to compile for AWS Lambda"
May well be something to do with mbgl, but maybe someone has some advice. I am trying to use this on AWS Lambda (in a layer), so I have to compile on an Amazon Linux. Luckily there is a Docker file available at https://github.com/lambci/docker-lambda

I believe that the simplest thing I can do is
[code]
but i'm getting:
[code]

any hints?

[2019-10-09 21:40] brendan-ward commented on #33
@jnicho02 thanks for testing this out - I'd be interested to know if it is possible to get this running on AWS Lambda.

The error you are getting for the above is most likely because a pre-built binary was not found for `@mapbox/mapbox-gl-native` for that architecture / OS.  This means you will need to compile it yourself for your target OS.  See [here](https://github.com/mapbox/mapbox-gl-native/b

[2019-10-10 08:16] jnicho02 commented on #33
Thank you for the rapid response. I do feel like i'm on a yak-shaving expedition :)

File size *is* a big limiting factor on AWS Lambda. It has a 250Mb total unpacked size. Compiling on my Mac and running modclean got me down to 200Mb so my hopes were raised. Libraries can be packaged as a separate Lambda Layer so they don't have to be uploaded every time with your code.

I ran some headless image

[2019-10-12 14:18] hcphoon01 opened #34 "GeoJSON overlay"
I see there is the ability to add GeoJSON overlays to a map before its rendered but only in a JSON file, is it possible to add the overlays to a style from mapbox?

[2019-10-13 00:00] brendan-ward commented on #34
@hcphoon01 there isn't a way to do this in terms of a named style with the APIs we have in place now.

However, one way around this would be to create a JSON style file that overlays your GeoJSON over raster tiles from a given Mapbox style.  Docs: https://docs.mapbox.com/help/glossary/raster-tiles-api/

[2019-10-13 00:00] #34 closed

[2019-10-25 17:06] jnicho02 commented on #33
version 0.5.0 appears to have compiled :) ...but the resulting node_modules are still too big at 388.3 MB after modclean. I will take a look at how you slimmed the Docker image down. I'm guessing there's loads of stuff like Android code that isn't needed.

[2019-10-25 18:04] brendan-ward commented on #33
@jnicho02 thanks for testing this and following up!

I think as of `mapbox-gl-native` 5.0.0, those build dependencies (including stuff for android) may have been removed on the mapbox side since everything is now pre-built.  I haven't had a chance to cleanup our Dockerfile here based on things we no longer need to delete.

It is also possible you might be able to slim down things at the OS level -

[2019-10-25 23:18] brendan-ward commented on #32
This has been resolved

[2019-10-25 23:18] #32 closed

[2019-10-25 23:21] brendan-ward commented on #33
@jnicho02 much of what we were removing ourselves in the Dockerfile is no longer necessary; the latest `mapbox-gl-native` ships without all the extra stuff.

I made few more tweaks to the Dockerfile and got the image on Docker Hub down to about 202 MB.  I did not find anything else obvious to remove, most of the space is coming from `mapbox-gl-native` binary and `sharp`.

[2019-10-28 09:31] jnicho02 opened #37 "404 errors on 'missing' tiles"
This may well be nothing to do with mbgl-renderer..but maybe you've seen similar (and dealt with it)?

I am hosting some custom .pbf vector tiles on Amazon S3. Data is sparse, so there is no .pbf for many gridrefs. When I run MapboxGL to make an online map it is quite happy with this. When I run mbgl-renderer I get a 404 error for the non-existent .pbf

[code]

[2019-10-28 12:19] jnicho02 commented on #37
Ok, so not mbgl-renderer's problem/fault. The vector tileserver should be returning an empty .pbf. I have achieved this by using CloudFront and returning 0/0/0.pbf and return code 200, although I may want to construct an empty pbf instead.

MapboxGL in a web page does not stop working, but it does still register an error behind the scenes.

[2019-10-28 19:09] brendan-ward commented on #37
@jnicho02 we didn't specifically handle 404 errors here:
https://github.com/consbio/mbgl-renderer/blob/master/src/render.js#L246-L250

However, it shouldn't be hard to catch that case specifically, and log a warning instead of failing outright.  The outcome would be the same (tiles would not be rendered in output), without requiring changes to the origin server.

Do you have a style JSON file you'

[2019-10-31 14:42] jnicho02 commented on #37
Basic workflow is:
1. get a geojson object
2. use tippecanoe to create a .pbf
3. use github.com/mapbox/mbutil to unpack it to individual .pbfs
4. repoint the metadata json at the new tile url root
5. copy to S3 giving .pbf a content-type application/x-protobuf and .json application/json

For testing purposes i'm just wondering whether you could run a web server locally (like node's http-server).

[2019-10-31 16:19] brendan-ward commented on #37
@jnicho02 thanks for sharing more information!

I think it is entirely possible to host locally using whatever static server you prefer; you just need to serve a directly with the appropriate MIME types and CORS settings.

I created a tiny one in Go [long ago](https://github.com/consbio/go-http-fileserver) if you are looking for something extremely minimal in that space (though I've not tested wit

[2019-11-08 05:41] brendan-ward commented on #37
Resolved by 91f3ec2defb4596574e353a0bbeae9101696b982

[2019-11-08 05:41] #37 closed

[2019-11-18 15:34] submarcos opened #40 "Docker images problems"
As 0.4.0 version is working perfectly, latest version doesn't work as expected.

docker pull consbio/mbgl-renderer:latest
docker run --rm -p 8080:80 consbio/mbgl-renderer

ERROR: Path to mbtiles files does not exist: ./tiles

[2019-11-18 17:18] brendan-ward opened #41 "Gracefully recover from missing tiles files"
Right now, if you use a style that references local tiles that are not found, the entire server appears to crash and is non-recoverable.

We need to gracefully recover from missing files; the individual request to render that style will fail with an error, but the server should remain online.

[2019-11-18 18:50] brendan-ward commented on #41
This was an unrelated error due to issues with the `HEALTHCHECK` defined for the docker container.

[2019-11-18 18:50] #41 closed

[2019-11-18 19:07] #40 closed

[2019-11-18 19:09] brendan-ward commented on #40
@submarcos thank you for reporting this!

The issue was due to extra validation we added recently.  This will be fixed once the new image is done building on Docker hub.

[2019-11-19 10:56] submarcos commented on #40
thank you !

[2019-11-19 13:01] LePetitTim opened #42 "Using Bounds throw error latitude must not be NaN"
Using the latest version, with docker.
I got a message by using bounds.

terminate called after throwing an instance of 'std::domain_error'
what():  latitude must not be NaN

I tried with : bounds = -15.687901,36.0444,14.10702,51.90003 but also with the example in the readme and it throws this error.

I can only use center and zoom.

[2019-11-19 13:09] LePetitTim opened #43 "Cannot read property 'GET' of undefined"
Using latest version with docker , I get an error which stop the server:
[code]
I do
[code]
It happens when i am connecting to the root. http://mbglrenderer/ for example .

It was working in 0.4.0 :
```{"routes":{"/render":["GET","POST"],"/":["GET"]}}```

[2019-11-19 15:27] LePetitTim commented on #42
It seems to be that line that doesn't work :
`var viewport = _geoViewport["default"].viewport(bounds, [width, height], undefined, undefined, undefined, true);`
It gives :
`{ center: [ NaN, NaN ], zoom: 16.415037499278842 }`

[2019-11-19 16:43] brendan-ward commented on #43
Thanks for reporting @LePetitTim and sorry for the issues!

I suspect this was introduced during our upgrade of `restify` in f73f32fd515fd0997440cff740b9353901660f47

The bigger issue is that once you hit a route that doesn't exist, the server (at least in Docker) no longer accepts any incoming requests.  Obviously a bad thing.

I'll work on a fix.

[2019-11-19 16:54] LePetitTim commented on #42
I get it i didn't send it well. I sent it in an array and not directly like this : bounds="-15.687901,36.0444,14.10702,51.90003".

[2019-11-19 16:54] #42 closed

[2019-11-20 17:00] brendan-ward commented on #43
Yeah, this was due to an API change in `restify`: https://stackoverflow.com/a/57569241

Fix coming up.

[2019-11-20 17:59] #43 closed

[2019-11-20 20:18] brendan-ward opened #44 "Adopt all-contributors spec"
@all-contributors add

[2019-11-20 20:52] #44 closed

[2019-11-25 17:30] LePetitTim opened #45 "Add fitbounds padding"
It would be great to be able to add padding using fitbounds.

[2019-11-25 17:38] brendan-ward commented on #45
@LePetitTim I need more to go on to understand what you are looking for.

We calculate center and zoom from bounds here: https://github.com/consbio/mbgl-renderer/blob/master/src/render.js#L353-L366

In a different project, I've added bounds handling around this same kind of usage: https://github.com/consbio/mbgl-renderer/blob/master/src/render.js#L353-L366

Are you suggesting that we add a `paddin

[2019-11-26 08:56] LePetitTim commented on #45
The idea was to be able to use padding on all of the APIs.

[2019-11-26 15:29] LePetitTim commented on #45
For example :
We could use fitBoundsOptions.
We could change mapbox/viewport to uber-common/viewport-mercator-project which add options padding and offset.
I don't know which solution is possible and easiest to do.
I tried both of them and didn't get any valuable solution.

[2019-11-26 16:54] brendan-ward commented on #45
@LePetitTim
What do you mean by this?

If I were doing this, I'd probably continue using mapbox/viewport and the addition from another project I linked above - to keep things simple, and not add another dependency.

[2019-11-26 17:32] LePetitTim commented on #45
I tried to do it in my own project, both solutions. I changed mapbox/viewport totally to use the uber-common/viewport-mercator-project.

I tried to Add the option fitBoundOptions which didn't work. I can still create a Pull request, if anyone have an idea how to fix my code.

[2019-11-29 16:18] LePetitTim commented on #45
_We could use fitBoundsOptions._ = > We can't, the option doesn't exist.
_We could use uber-common/viewport-mercator-project_ => I couldn't make it works, i am not able to do it.

[2019-11-29 19:10] brendan-ward commented on #45
@LePetitTim I have some ideas about how we could add that functionality here, by surfacing a `padding` option to all the APIs, and use that to zoom out the zoom level we get back from `@mapbox/geo-viewport` (the implementation would be the second link I posted above, but more work here to expose via APIs).  I just haven't had a chance yet.  I'll try to get to it in the next few days.

Apologies if

[2019-12-01 22:56] #45 closed

[2019-12-01 22:57] brendan-ward commented on #45
@LePetitTim  see updated usage in `README.md`, padding is now an option for all interfaces.

[2019-12-05 15:36] andyzaharia opened #46 "Increasing max texture/image size"
First of all thank you for this awesome tool! :)

I'm having a bit of a dilemma here, I'm trying to create an image that is bigger than the default 8192x8192 size that I get when testing on Ubuntu. I did a bit of research and it seems to be related to the xvfb tool. I looked into changing the xvfb settings and there doesnt seem to be clear way of tweaking  the xvfb to allow creating bigger texture

[2019-12-05 17:07] brendan-ward commented on #46
@andyzaharia  see related issue in mapbox-gl: https://github.com/mapbox/mapbox-gl-native/issues/5184
You probably already saw: https://stackoverflow.com/questions/40645132/how-to-increase-gl-max-texture-size-for-mesa-drivers

From within our docker container:
[code]

Outside docker, on a Mac, I am also able to generate a 10000 x 10000 pixel image.  I agree with your conclusion, this is due to Xvfb

[2019-12-05 17:07] #46 closed

[2020-01-16 03:26] durkie opened #47 "Rendering weirdness with Nextzen vector tiles"
Nextzen (formerly Mapzen) has hosted vector tiles (details at https://www.nextzen.org), that are basically free (an open S3 bucket and you only pay for the data transfer), but I'm having trouble getting them to render correctly in mbgl-render.

Making a static map with bounds `-96.1767551,29.044431,-75.1325,37.57731` looks quite bad with nextzen tiles:
![image](https://user-images.githubuserconten

[2020-01-16 04:20] brendan-ward commented on #47
@durkie thanks for reporting this issue.  Can you share your style JSON here?  Or at least
how you are configuring the `source` for nextzen (esp. the tile URL and tile size).

They list tile endpoints for 2 different sizes:
https://tile.nextzen.org/tilezen/vector/v1/512/all/{z}/{x}/{y}.mvt?api_key=your-nextzen-api-key
https://tile.nextzen.org/tilezen/vector/v1/256/all/{z}/{x}/{y}.mvt?api_key=your-

[2020-01-16 04:45] durkie commented on #47
Sure. I've attached my style.json here: https://gist.github.com/durkie/4343a40c7e5c33eea6c9e169fa1982a6

It's basically the openmaptiles "basic" style that I've been adapting to work with these Nextzen tiles, so still very much a work in progress.

I have not been using a `tileSize` parameter: the mapbox style spec made it sound like it was only relevant to raster tiles. Testing it now it does not

[2020-01-16 04:51] brendan-ward commented on #47
The issue seems partly related to needing to use geometry type filters for the layers:

Example style:
[code]

produces this image:

![test](https://user-images.githubusercontent.com/3375604/72494474-d1c47c00-37d8-11ea-8fcd-e73f8ec13ac7.png)

Without the `filter` statements, the result is roughly similar to your first example.

Possibly helpful for working out the style:
https://github.com/stevage

[2020-01-16 04:57] brendan-ward commented on #47
Yeah, I think that's it. Your style has geometry type filters in some places, but not everywhere you likely need them.

Example: you need to use a polygon filter here: https://gist.github.com/durkie/4343a40c7e5c33eea6c9e169fa1982a6#file-basic-json-L296

Sorry for misleading you on the tile size.

Not sure why the levels of detail differ between Mapbox and Nextzen, but probably has a lot to do with

[2020-01-16 04:57] #47 closed

[2020-01-16 20:39] durkie commented on #47
Yep, thanks for your help! Looks much better with a tilezen specific style...sometimes you get so stuck in a problem you can't think of other ways to solve it :)

![image](https://user-images.githubusercontent.com/3200608/72561020-3c77c500-3876-11ea-8003-d52083016796.png)

[2020-01-30 17:03] brendan-ward opened #48 "Create example and test case for rendering labels"
Rendering labels requires `glyphs` for the fonts.

Given an example layer defined as:

[code]

using a GeoJSON source, this fails with an unhelpful error
[code]

You can get around this by using Mapbox hosted glyphs by adding this as a sibling of `sources` in your style JSON:

[code]

However, you then need to provide a Mapbox token even if you are not otherwise using any other Mapbox resources.

[2020-01-30 17:09] brendan-ward opened #49 "Rendering labels crashes rendering process"
Possibly an edge case getting labels to work.

Last message from server is `Missing tile at: [object Object]` before server process crashes.

Style file is valid and renders properly except for the addition of a symbol layer for text labels, which requires use of a valid `glyphs` object.

[2020-01-30 18:13] brendan-ward opened #50 "Docker container keeps running after node server process crashes"
We may want to switch to `xvfb-run`

Example: https://gist.github.com/tommynyquist/11321acb1f59bde080a7

[2020-01-30 18:16] brendan-ward commented on #49
This is masking the underlying issue, the server process crashes with a segfault.  Can be reproduced more directly running the style file within a test.

Seems directly related to use of `glyphs` and rendering text labels.

[2020-01-30 18:44] brendan-ward commented on #49
In all cases tested so far, the glyph URLs are returning 404 errors, which may be the underlying cause of the segfault.  Our handler for these requests returns `null` data, which is handled correctly by mapbox GL for tiles, but apparently not handled correctly for glyphs.

[2020-01-30 19:26] brendan-ward opened #51 "Provide local assets directory"
This could be very useful for providing local glyphs and sprites, as well as a potentially more generalized solution to local styles than #38

Behavior would be very similar to what we get now with local tiles directory: define it on the command line, and refer to it with a custom hostname, e.g., `assets://...`

[2020-01-30 22:41] #48 closed

[2020-01-30 23:37] brendan-ward commented on #49
Closed by 42c8cbb

[2020-01-30 23:37] #49 closed

[2020-01-30 23:37] brendan-ward commented on #51
This can also be leveraged for local GeoJSON (intended to be immutable rather than varying with request):
https://docs.mapbox.com/mapbox-gl-js/style-spec/sources/#geojson

[2020-03-04 21:34] brendan-ward opened #52 "Add support for image sources"
Right now, [image sources](https://docs.mapbox.com/mapbox-gl-js/style-spec/sources/#image) fail since we don't specifically handle this type.

[2020-03-05 01:30] #52 closed

[2020-03-30 17:08] brendan-ward opened #55 "Improve request logging"
Add basic info to request logs:
- image dimensions
- bounds
- zoom
- center

[2020-04-06 08:56] olehz opened #57 "Memory leak"
20:20
![2020](https://user-images.githubusercontent.com/157599/78540624-1c183080-77fd-11ea-8c90-76d5dc0d780e.png)

22:15
![2215](https://user-images.githubusercontent.com/157599/78540758-4e299280-77fd-11ea-828a-666e0a9deba5.png)

![chart](https://user-images.githubusercontent.com/157599/78540825-63062600-77fd-11ea-9b2e-da15c9b7528b.png)

[2020-04-06 09:02] michelbio commented on #57
Maybe related to https://github.com/mapbox/mapbox-gl-native/pull/15922 ?

[2020-04-06 15:15] brendan-ward commented on #57
@olehz thanks for reporting and for investigating the potential underlying issue from `mapbox-gl-native`.

Can you tell us more about your usage here to help us investigate?
* what version of `mbgl-renderer`?
* what OS / container environment?
* what is the load you are throwing at `mbgl-renderer` - is it sporadic image render requests, are you generating many images in a pipeline (e.g., rendering

[2020-04-06 17:19] olehz commented on #57
There are many requests for generating images in the pipeline. The data source is quite large GeoJSON. I am not able to test this on NodeJS 10.

![picturemessage_rdortcwc itc](https://user-images.githubusercontent.com/157599/78586135-aaafa080-7843-11ea-855f-32976b31c6ec.png)

[2020-05-22 17:31] srinivasrk opened #59 "libEGL.so not found"
I tried following the getting started instructions and looks like I'm running into an issue:
[code]

I have tried using the dockerized version as well and run into same issue.

[2020-05-22 17:42] srinivasrk commented on #59
` sudo apt install libegl1-mesa libegl1 libgbm-dev libllvm3.9 libprotobuf-dev libxxf86vm-dev xvfb x11-utils`
This helped!

[2020-05-22 17:42] #59 closed

[2020-09-11 14:26] kjkurtz opened #63 "Issue with adding symbols from geojson"
I've been experiencing an odd issue with adding a symbol layer from a geojson source. The geojson is a FeatureCollection of lines (I've included the geojson in the jsfiddle example below). The exact style works just fine in that jsfiddle with vanilla MapboxGLJS. Once I try to add that same layer to the map via mbgl-renderer, I get `Error rendering map [Error: Invalid URI "/"]` Any ideas what I may

[2020-09-11 15:51] brendan-ward commented on #63
@kjkurtz can you please also share the style JSON you are passing as input to `mbgl-renderer`?  Your working example above uses the Mapbox GL JS API to add a source then add a layer; all of this is encapsulated into a single style JSON ([example](https://github.com/consbio/mbgl-renderer/blob/master/tests/fixtures/example-style-geojson.json)).

You can use that same JSON to create your map in Mapbo

[2020-09-11 16:07] kjkurtz commented on #63
What do you know?! That was the ticket to a more verbose error message I could take action on.
`Error: layers[3].layout.text-field: use of "text-field" requires a style "glyphs" property`
All I had to do was add a source for the 'glyphs' and everything started working.

Thanks so much for the insight!

[2020-09-11 16:07] #63 closed

[2020-10-02 01:11] brendan-ward opened #64 "Locally-hosted mbtiles filename parsing does not support subdirectories"
Right now, only top-level mbtiles files in the tile directory are handled.

Ideally, we should be able to support subdirectories in the tile directory.

[2020-10-07 04:20] ifzm commented on #57
I also found a similar problem. As the number of renders increases and the style is a larger geojson, the memory usage will gradually increase without being released.
I don’t know if it’s an upstream problem.

use docker for `consbio/mbgl-renderer`

[2020-11-10 07:13] d3alek opened #66 "Slow performance when rendering complex environments"
I am using the Docker mbgl-renderer server, making 400x400 images. The response for rendering a city-wide view takes 1.5 seconds, which for my use case is too slow. Bigger zoom gets me down to 200ms, which is slow but passable. What can I do to speed up the server response?

My style.json:
[code]

OpenMapTiles layers configuration is from [here](https://github.com/systemed/tilemaker/blob/master/re

[2020-11-11 17:36] brendan-ward commented on #66
@d3alek what zoom level are you using for city-wide view and for bigger zooms?

The primary thing that comes to mind is that more features of more layers are being rendered at city-wide view than at other views.  This depends heavily on which layers are visible at that zoom, how many features are in view for each layer, how complex those features are, and how complex your style is.  One way to tro

[2020-11-14 03:14] d3alek commented on #66
Thank you for the advice - leaving only `transportation` layers in improved baseline performance down to 100ms. This is good enough for my use case.

[2020-11-14 03:14] #66 closed

[2020-12-25 05:01] prasadrajuv opened #68 "windows 10 install error"
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp ERR! install error
node-pre-gyp ERR! stack Error: 403 status code downloading tarball https://mapbox-node-binary.s3.amazonaws.com/@mapbox/mapbox-gl-native/v5.0.2/node-v64-win32-x64-Release.tar.gz
node-pre-gyp ERR! stack     at Request.<anonymous> (E:\mbgl\node_modules\node-pre-gyp\lib\install.js:137:27)
node-pre-gyp ERR!

[2020-12-25 21:21] brendan-ward commented on #68
According to the error log, the failure is due to a pre-compiled version of `mapbox-gl-native` not being available for your platform, and the fallback to compiling from source failed.  Looking at that repo, Windows is not a supported platform.

Please consider using Docker to provide this on Windows.  Images are available on Docker Hub at `https://hub.docker.com/r/consbio/mbgl-renderer`

[2020-12-25 21:21] #68 closed

[2020-12-26 09:04] prasadrajuv opened #69 "docker pass style has web url instead json data and also set default style while server starting"
style json is huge in size to pass it has url parameter every time consume high bandwidth. i want to set https://github.com/maputnik/osm-liberty/blob/gh-pages/style.json similar style give url has parameter. mapbox like style default file as argument at time of server start can make avoid style parameter has optional.

[2020-12-28 18:18] brendan-ward commented on #33
Closing due to lack of activity.  Feel free to reopen if there is progress on making this work on AWS Lambda.

[2020-12-28 18:18] #33 closed

[2020-12-28 18:23] brendan-ward commented on #69
Allowing the style to be passed via URL (will be automatically downloaded to the server) instead of in request URL would be a nice addition and would be a nice complement to #51 (could use URLs that resolve to local assets).

Default style is considered in #38 or follow on issues, so keeping that separate from here for now.

[2021-01-23 15:32] techmavengeospatial opened #70 "DPI on exported PNG"
I don't see anywhere in the documentation (could have missed it ) the DOTS PER INCH (DPI)
in order to convert page size to Pixel size I need to know DPI
is it 96DPI ? is there some setting?

12 X 18  ARCH B  1152 px 1728 px
13 X 19 or 19 x 13  1248 px 1824 px
18.0 x 24.0 in or 24x 18  ARCH C  1728 px  2304 px
24x36 or 36 x 24 ARCH D  2304 px 3456 px

Is there any issue creating Arch D or Even Arch

[2021-01-23 15:56] brendan-ward commented on #70
There is no direct DPI setting for this project or the underlying rendering library; you need to scale the output resolution to meet your need (controlled via `width`, 'height`, and `ratio` parameters).

See `ratio` parameter in particular for controlling pixel ratio (documented in the README) for increasing the resolution of the output image.  See `tests/fixtures/expected-mapbox-source.png` and `

[2021-01-23 15:56] #70 closed

[2021-01-23 16:16] techmavengeospatial commented on #70
Thanks for the reply
we are NOT using any MapBox data or services
we self host our own created vector tiles as well as OpenMapTiles.com OSM Data
Yes, We will handle all legal requirements for this and provide proper attribution.

[2021-05-21 06:12] halset opened #76 "docker cli"
I am calling the cli via docker to render images on-demand without having the node server running constantly. I made a custom docker image for this, but perhaps this should be part of the standard mbgl-renderer distribution? Do you think it should be a functionality of the current docker image controlled with some extra arguments at "docker run" or do you think it should be a separate docker image

[2021-05-21 16:28] brendan-ward commented on #76
It certainly would be easy to have a separate Dockerfile and endpoint for this use, though since the only real difference is the command run in the container and whether or not it is long-lived.

I'm not familiar enough with setting up Docker containers to run either a service or a CLI (one-off) based on arguments to the container based on flags at the container level (i.e., rather than passing in

[2021-05-21 18:26] halset commented on #76
It typically takes 0.8s to start Xvfb, wait for it to start and then run node dist/cli.js -help on my i9 MacBook Pro. On a 4GB general Droplet a Digital Ocean, it typically takes 1.2s. I mainly run it as a background process to create lots of large images and then use GeoTools in java to collect them to even larger GeoTIFFs. For this purpose, starting the cli.js for every image seem to work very w

[2021-06-14 22:05] lifestyleposters opened #77 "Failed to obtain a valid EGL display"
Used as a node package, I have no problems at all when using on a locally run node app; however, as soon as I move it onto a cloud based headless environment such as hosting the node app on heroku I run into the error "Failed to obtain a valid EGL display". I made sure to have xvfb included, not sure what else to try.

[2021-06-14 22:25] brendan-ward commented on #77
Are you able to use the Docker version?  I don't know if this will solve your issue.  I haven't tried deploying this to Heroku, but have had success deploying directly onto a virtual machine in AWS, though I had to install the [same required dependencies](https://github.com/consbio/mbgl-renderer/blob/master/docker/Dockerfile#L11-L21) (specific to the OS) as is done in Docker.

[2021-06-16 17:18] lifestyleposters commented on #77
I am setting it up with Docker with the provided example just to get all the dependencies consistent. Likely going to try just hosting just a docker container on Azure.

[2021-07-04 12:37] qubiack opened #78 "Render map with marker base on coordinates"
Is it possible in mbgl-renderer to render a map with SVG markers on it? I don't see this in documentation for this project.

[2021-07-04 17:48] brendan-ward commented on #78
You should be able to use a [symbol](https://docs.mapbox.com/mapbox-gl-js/style-spec/layers/#symbol) layer.  However, you need to use an image from a spritesheet that is loaded by your style JSON, and I believe that these do not support SVG images.

Note: you aren't able to use the [addImage](https://docs.mapbox.com/mapbox-gl-js/api/map/#map#addimage) to load an image because we don't expose the `

[2022-01-17 11:51] neelakandan-dhanigachalam opened #84 "Attribution is not getting displayed in static map images"
Hi,

I'm using the docker based mbgl-renderer. The mbtiles sources has attribution built in. When we generate the static image, the attribution is not getting generated. Even I tried to add the attribution in vector sources in styles. Still it is not getting generated in static maps.
Am I missing anything here? Also, tried to pass the images parameters. But I'm not able to send images parameters,

[2022-01-17 12:10] brendan-ward commented on #84
Attribution is a client-side problem; we don't embed attribution into the images and don't intend to - this library just renders map images.  As a user of a library, you're responsible for doing that in the way that is best for how you are specifically using the images.  In most of my use cases, where we render map images into PDF, I put the attribution in text below the image rather than renderin

[2022-01-17 15:02] neelakandan-dhanigachalam commented on #84
Understood Brendan. Thanks for your immediate response. I'll check the images documentation and update you if any issues.

[2022-01-17 15:02] #84 closed

[2022-01-17 16:40] brendan-ward commented on #4
Attribution needs to be user's responsibility.

[2022-01-17 16:40] #4 closed

[2022-02-22 15:03] samuel-litzler opened #85 "getFileName is not a function when npm start"
Hi all,

I've clone the project for testing and i've extract just src folder, babel, eslin, gitignore, prettiers, travis and package lock files but this error appear :

`TypeError : callSite.getFileName() || '<anonymous>'`

I does'nt want to use Docker ( so i try to run it only with nodejs.

Steps (with root user) :
- created new VM debian 10.9
- node 10 + curl + make + git installed
- clone proj

[2022-02-22 15:35] samuel-litzler commented on #85
Update :

I run `npm run build` then `node dist/server.js` and the server start in build mode

Idk why the dev mode is not working but build mode is ok for me

[2022-02-22 15:35] #85 closed, assigned to nobody

[2022-02-25 09:08] samuel-litzler opened #86 "Can we make rendering condition on layer as mapbox ?"
Hi,

I used this library to render fully custom satellite and plan maps.
I've been working on mapbox for a while and used a lot of conditional settings for layer rendering (color, size, etc.)
Can we do the same in style.json?

My style.json file is built entirely by a third party API in php.

exemple mapbox :
![image](https://user-images.githubusercontent.com/24872653/155686688-e44175dc-e81b-4d07-

[2022-02-25 09:35] samuel-litzler commented on #86
OK fixed ->
![image](https://user-images.githubusercontent.com/24872653/155691538-ae46d4b2-ca2a-43ac-a1ef-6559c14d1ac3.png)

[2022-02-25 09:35] #86 closed

[2022-02-25 10:24] samuel-litzler commented on #63
Hi,
Same issue here, but now we need access token.

i have three sources : mapbox satellite, geojson polygon, geojson centroid of polygon.

If i use the glyphs i have this error :
![image](https://user-images.githubusercontent.com/24872653/155697993-ac33a302-ebe9-4c8f-a72e-eb9a0e2e13c9.png)

Here this is the source of mapbox satellite :
![image](https://user-images.githubusercontent.com/24872653/1

[2022-03-08 01:13] brendan-ward commented on #57
Looks like there are indeed memory leaks coming from `mapbox-gl-native`.  Here's a bit of valgrind profiling of the NodeJS 10 version:

[code]

Will need to repeat this with the `maplibre-gl-native` bindings once those are more widely available.

Related [https://github.com/brendan-ward/pymgl/issues/1](https://github.com/brendan-ward/pymgl/issues/1)

[2022-03-08 19:48] brendan-ward commented on #57
Possibly related: [mapbox-gl-native #15915](https://github.com/mapbox/mapbox-gl-native/issues/15915)

It looks like some of the Node-related memory leaks were solved in [15922](https://github.com/mapbox/mapbox-gl-native/pull/15922) but not actually merged; these may still need to be addressed in the latest `maplibre-gl-native` NodeJS bindings.

[2022-07-15 10:00] David-Orson opened #93 "failed requests"
When we add layers or data past a certain point requests completely fail by timeout.

The logs in the docker container don't even register these requests arriving, but they consistently fail when adding a layer/data and then succeed again once we remove.

Our request URLs that fail are around 5000 characters long. Unsure of the root cause of this issue.

[2022-11-05 13:11] brendan-ward opened #95 "Migrate to MapLibre GL NodeJS bindings"
Modern NodeJS bindings are [now available from MapLibre](https://www.npmjs.com/package/maplibre-gl) ([docs](https://github.com/maplibre/maplibre-gl-native/tree/main/platform/node)).  There is still [active development](https://github.com/maplibre/maplibre-gl-native/pull/535) around compiling and packaging which may impact our usage here.

There is some work in progress toward integrating MapLibre